@model Reservation
<form asp-action="RSVPWedding" asp-controller="Wedding" method="post">
    <input asp-for="WeddingId" type="hidden" value="">
    <input asp-for="UserId" type="hidden" value="@ViewBag.LoggedInUser.UserId">
    <input type="submit" value="RSVP" class="btn btn-success">
</form>