@model Reservation
<form asp-action="RSVPWedding" asp-controller="Wedding" method="post">
    <input type="hidden" asp-for="WeddingId" value="@Model.WeddingId">
    <input type="hidden" asp-for="UserId" value=@Context.Session.GetInt32("UserId")>
    <input type="submit" value="RSVP" class="btn btn-success">
</form>