@{
    ViewData["Title"] = "Home Page";
}
@model List<Chef>
<div class="d-flex justify-content-center">
    <ul class="d-flex gap-5">
        <li><b>Chefs</b></li>
        |
        <li><a href="/dishes">Dishes</a></li>
        |
        <li><a href="/chefs/new">Add a Chef</a></li>
        |
        <li><a href="/dishes/new">Add A Dish</a></li>
    </ul>
</div>
<div class="text-center">
    <h1 class="display-4">Check out our roster of chefs!</h1>
    <hr></hr>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>
        @foreach(Chef c in Model)
        {
            <tr>
                <td>@c.FirstName @c.LastName</td>
                <td>@c.Age</td>
                <td>@c.Dishes.Count</td>
            </tr>
        }
    </table>
</div>
