@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-around">
    <div>
        <h2>Register</h2>
        @await Html.PartialAsync("_Register")
    </div>
    <div>
        <h2>Login</h2>
        @await Html.PartialAsync("_Login")
    </div>
</div>
