@{
    ViewData["Title"] = "Numbers";
}
@model List<string>

<main>
    <nav class="d-flex justify-content-center mt-2">
        <ul class="d-flex gap-3">
            <li class="fs-2"><a href="">Message</a></li>
            <p class="fs-2">|</p>
            <li class="fs-2"><a href="numbers">Numbers</a></li>
            <p class="fs-2">|</p>
            <li class="fs-2"><a href="user">User</a></li>
            <p class="fs-2">|</p>
            <li class="fs-2"><a href="allusers">Users</a></li>
        </ul>
    </nav>
    <div class="d-flex justify-content-center">
        <h1>Numbers</h1>
    </div>
    <div class="d-flex mt-3 justify-content-center gap-5 align-items-center">
        @Model[0]  @Model[1]
    </div>
</main>
