@model Product
<form asp-action="CreateProduct" asp-controller="Home" method="post">
    <div class="mb-3">

    <label asp-for="Name">Product Name</label>
    <input asp-for="Name" class="form-control">
    <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image">Product Image</label>
        <input asp-for="Image" class="form-control">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control">
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <input type="submit" value="Add" class="btn btn-success">
</form>