@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<div class="text-center homepage">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <div class="mt-3 d-flex justify-content-center gap-4">
        <a class="display-6" href="/">Home</a>
        <p class="display-6">|</p>
        <a class="display-6" href="/dishes/new">Add New Dish</a>
    </div>
    <h1 class="mt-5">Check out some recent dishes</h1>
    <div class="d-flex justify-content-center">

        <hr class="w-50">
        </hr>
    </div>
    @foreach (Dish d in Model)
    {
        <h3><a href="dishes/@d.DishId">@d.Name</a> by @d.Chef</h3>
    }
    @* <table class="table table-striped mt-5">
        <tr>
        <td>Name</td>
        <td>Chef</td>
        <td>Tastiness</td>
        <td>Calories</td>
        <td>Description</td>
        <td>Date Cooked</td>
        </tr>
        @foreach(Dish d in Model)
        {
        <tr>
        <td>d.Name</td>
        <td>d.Chef</td>
        <td>d.Tastiness</td>
        <td>d.Calories</td>
        <td>d.Description</td>
        </tr>
        }
        </table> *@
</div>
