@model Message

<form asp-action="CreateMessage" asp-controller="Home" method="post">
    <input asp-for="UserId" type="hidden" value="@ViewBag.LoggedInUser.UserId">
    <label asp-for="MessageText"><h4>Post A Message</h4></label>
    <textarea asp-for="MessageText" class="form-control"></textarea>
    <span asp-validation-for="MessageText" class="text-danger"></span>
    <input type="submit" value="Write On The Wall" class="btn btn-success mt-2">
</form>