@model Message

<form asp-action="CreateMessage" asp-controller="Home" method="post">
    <input asp-for="UserId" type="hidden" value="@ViewBag.LoggedInUser.UserId">
    <label asp-for="MessageText"><h6 class="text-light">Post A Message</h6></label>
    <textarea asp-for="MessageText" class="form-control"></textarea>
    <span asp-validation-for="MessageText" class="text-danger"></span>
    <input type="submit" value="Post" class="btn primary-btn mt-4">
</form>